<form *ngIf="!loading()" [formGroup]="form">
  <h1 class="text-3xl font-bold mb-8">Select country to get weather</h1>

  <!-- Search input -->
  <div *ngIf="!error()">

    <div class="flex justify-between g-2">
      <!-- search input -->
      <div class="mb-4">
        <input type="text" pInputText formControlName="searchControl" placeholder="Search by country name" />
      </div>
      <!-- Toggle view mode: Grid vs. List -->
      <div class="flex items-center mb-4">
        <span class="mr-2">Grid</span>
        <p-toggleswitch formControlName="listView"></p-toggleswitch>
        <span class="ml-2">List</span>
      </div>
    </div>

    <!-- Grid View -->
    <div *ngIf="!form.get('listView')?.value">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div *ngFor="let country of (displayedCountries() || [])" (click)="selectCountry(country)">
          <p-card class="cursor-pointer block transition-transform duration-160 hover:scale-105">
            <ng-template #header>
              <img alt="Card" class="w-full" [src]="tools.getCountryFlagLinkByIso2(country.iso2)" />
            </ng-template>
            <ng-template #title>
              {{ country.country }}
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>

    <!-- List View (Narrow Rows) -->
    <div *ngIf="form.get('listView')?.value">
      <div *ngFor="let country of (displayedCountries() || [])"
           (click)="selectCountry(country)"
           class="border-b border-gray-300 py-2 flex items-center cursor-pointer hover:bg-gray-50">
        <img alt="Flag" class="w-8 h-8 mr-4" [src]="tools.getCountryFlagLinkByIso2(country.iso2)" />
        <span>{{ country.country }}</span>
      </div>
    </div>

    <div *ngIf="displayedCountries()?.length === 0" class="text-center w-full">
      <p>No countries found</p>
    </div>
  </div>

  <app-error-card *ngIf="error()" (retry)="loadCountries()" [error]="error" class="block mt-4"></app-error-card>

  <!-- Loader -->
  <div *ngIf="loading()" class="flex items-center justify-center w-full mt-12">
    <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
  </div>
</form>
