<form *ngIf="!loading()" [formGroup]="form">
  <h1 class="text-2xl md:text-3xl mb-6">Select country to get weather</h1>

  <div *ngIf="!error()">
    <div class="grid grid-cols-8 overflow-y-auto items-center gap-2 mb-5">
      <!-- search input -->
      <input pInputText
             type="text"
             formControlName="searchControl"
             placeholder="Search by country name"
             class="col-span-5 sm:col-span-4 md:col-span-3 dark:bg-gray-500 dark:text-gray-100" />
      <!-- Toggle view mode: Grid vs. List -->
      <div class="col-span-3 sm:col-span-2 md:col-span-5 flex items-center justify-end">
        <span>Grid</span>
        <p-toggleswitch formControlName="listView" class="mx-2 mt-1.5"></p-toggleswitch>
        <span>List</span>
      </div>
    </div>

    <!-- Grid View -->
    <div *ngIf="!form.get('listView')?.value" class="mt-7">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

        <div *ngFor="let country of (displayedCountries() || [])"
             (click)="selectCountry(country)"
             class="rounded-lg shadow overflow-hidden  text-black  bg-white dark:text-white dark:bg-slate-700 h-fit cursor-pointer transition-transform duration-160 hover:scale-105"
        >
          <div>
            <img alt="Card" class="w-full rounded-t-lg" [src]="tools.getCountryFlagLinkByIso2(country.iso2)" />
          </div>
          <div class="p-4 text-xl">{{ country.country }}</div>
        </div>
      </div>
    </div>

    <!-- List View (Narrow Rows) -->
    <div *ngIf="form.get('listView')?.value" class="mx-0.5">
      <div *ngFor="let country of (displayedCountries() || [])"
           (click)="selectCountry(country)"
           class="border-b border-gray-300 py-2 flex items-center cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-800">
        <img alt="Flag" class="w-8 h-8 mr-4" [src]="tools.getCountryFlagLinkByIso2(country.iso2)" />
        <span>{{ country.country }}</span>
      </div>
    </div>

    <div *ngIf="displayedCountries()?.length === 0" class="text-center w-full">
      <p>No countries found</p>
    </div>
  </div>

  <app-error-card *ngIf="error()" (retry)="loadCountries()" [error]="error" class="block mt-4"></app-error-card>

</form>

<!-- Loader -->
<app-loading-card *ngIf="loading()" class="block w-full h-screen" text="Loading countries..."></app-loading-card>

