<h2 class="text-2xl md:text-3xl mb-6 flex items-center gap-3 md:gap:4">
  Weather for {{ country() }}
  <img *ngIf="weather() as weather" alt="Country Flag" class="w-8 h-8"
       [src]="tools.getCountryFlagLinkByIso2(weather.sys.country)" />
</h2>

<form [formGroup]="form" class="flex items-center justify-between mb-3">
  <a routerLink="/countries"
     class="flex items-center  text-black dark:text-gray-50 hover:text-gray-600"
  ><i class="pi pi-angle-left" style="font-size: 1.2rem;"></i>Back</a>
  <div class="flex gap-2 items-center" *ngIf="!error()">
    <span class="pb-1.5">Imperial</span>
    <p-toggleswitch formControlName="unitControl"></p-toggleswitch>
    <span class="pb-1.5">Metric</span>
  </div>
</form>

<div *ngIf="!loading() && !error()">
  <ng-container *ngIf="weather() as weather">

      <div class="rounded-lg shadow overflow-hidden pl-4 grid grid-cols-4 gap-2 text-white  bg-white dark:bg-slate-700">
        <span class="col-span-2 text-xl flex items-center text-slate-900 dark:text-white py-4">{{ weather.weather[0].description }}</span>
        <span class="col-span-2 flex justify-end">
            <img *ngIf="weather.weather[0].icon !== '01n'" alt="Weather Icon" class="w-20 h-20 bg-slate-700 rounded-r-lg"
                 [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'" />
          </span>
      </div>

      <div class="rounded-lg shadow overflow-hidden bg-white dark:bg-slate-700 p-4 grid grid-cols-1 md:grid-cols-2 gap-1 mt-4">
        <p><strong>Temperature:</strong> {{ weather.main.temp }} {{ isMetric() ? '°C' : '°F' }}</p>
        <p><strong>Feels Like:</strong> {{ weather.main.feels_like }} {{ isMetric() ? '°C' : '°F' }}</p>
        <p>
          <strong>Wind:</strong> {{ weather.wind.speed }} {{ isMetric() ? 'm/s' : 'mph' }}
          (Direction: {{ weather.wind.deg }}°
          <span *ngIf="weather.wind.gust">, Gust: {{ weather.wind.gust }} {{ isMetric() ? 'm/s' : 'mph' }}</span>)
        </p>
        <p><strong>Pressure:</strong> {{ weather.main.pressure }} hPa</p>
        <p><strong>Humidity:</strong> {{ weather.main.humidity }}%</p>
        <p><strong>Visibility:</strong> {{ weather.visibility }} m</p>
        <p><strong>Cloudiness:</strong> {{ weather.clouds.all }}%</p>
        <p><strong>Sunrise:</strong> {{ weather.sys.sunrise * 1000 | date:'shortTime' }}</p>
        <p><strong>Sunset:</strong> {{ weather.sys.sunset * 1000 | date:'shortTime' }}</p>
      </div>
  </ng-container>
</div>

<app-error-card *ngIf="!loading() && error()" (retry)="loadWeather()" [error]="error" class="block mt-4"></app-error-card>

<!-- loader -->
<app-loading-card *ngIf="loading()" class="block w-full h-screen" text="Loading country weather..."></app-loading-card>
