<div class="flex justify-between g-2">
  <p-button (click)="router.navigate(['/countries'])" class="font-bold block mb-4 ">Back</p-button>

  <form [formGroup]="form" class="flex mb-4 flex gap-2 items-center">
    <p-toggleswitch formControlName="unitControl"></p-toggleswitch>
    <span class="w-[8rem] pb-2">{{ form.get('unitControl')?.value ? 'Metric (°C, m/s)' : 'Imperial (°F, mph)' }}</span>
  </form>
</div>

<div *ngIf="!loading()">

  <h2 class="text-3xl font-bold mb-6">Weather for {{ country() }}</h2>

  <p-card class="block">
    <ng-container *ngIf="weather() as weather">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="">
            <span>Temperature: {{ weather.main.temp }} {{ isMetric() ? '°C' : '°F' }}</span>
          </div>
          <div class="">
            <span>Precipitation: {{ weather.weather[0].description }}</span>
          </div>
          <div class="">
            <span>Wind: {{ weather.wind.speed }} {{ isMetric() ? 'm/s' : 'mph' }}</span>
          </div>
        </div>
        <img alt="Card" class="w-full" [src]="tools.getCountryFlagLinkByIso2(weather.sys.country)"
             class="hidden md:block" />
      </div>
    </ng-container>
  </p-card>


  <app-error-card *ngIf="error()" (retry)="loadWeather()" [error]="error" class="block mt-4"></app-error-card>
</div>

<!-- loader -->
<app-loading-card *ngIf="loading()" class="block w-full h-screen" text="Loading country weather..."></app-loading-card>
